<launch>
  <include file="$(find cyberglove_trajectory)/launch/cyberglove.launch">
    <arg name="serial_port" value="/dev/ttyUSB0" />
    <arg name="hand_prefix" value="rh" />
    <arg name="calibration" value="$(find sr_cyberglove_config)/calibrations/luke_new_tweaked.yaml"/>
    <arg name="mapping" value="$(find sr_cyberglove_config)/mappings/GloveToHandMappings_generic"/>
    <arg name="version" value="3" />
    <arg name="protocol" value="8bit" />
    <arg name="filter" value="true" />
    <arg name="trajectory_tx_delay" value="0.1" />
    <arg name="trajectory_delay" value="0.02"/>    
  </include>
</launch>
